* {
  box-sizing: border-box;
}

/* hilangkan margin & padding */
ul {
  margin: 0; /*jarak antara box komponen */
  padding: 0; /*jarak antara box dengan komponen didalamnya*/
}

/* Styling list item */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  display: flex;

  /* buat list item unselectable */
  /*  properti dibawah digunakan untuk mengontrol teks dapat dipilih pengguna*/
  -webkit-user-select: none; /* digunakan untuk chrome dan safari*/
  -moz-user-select: none; /* digunakan untuk mozila*/
  -ms-user-select: none; /* digunakan untuk IE & Ms edge*/
  user-select: none; /* digunakan untuk kebanyakan browser modern*/
}

/* set list item menjadi berbeda warna (zebra strip) */
ul li:nth-child(odd) {
  /* nth-child(odd) merupakan pseudo-class yang digunakan untuk memilih selector dengan index ganjil */
  background: #f9f9f9;
}

/* gelapkan bg-color ketika di hover */
ul li:hover {
  background: #ddd;
}

/* buat kondisi ketika li di klik */
ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

/* tambahkan tanda chek ketika diklik */
ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}
.spanList {
  /* background-color: #c6383831; */
  display: inline-block;
}
.divCek {
  /* background-color: #7408e7; */
  /* min-width: 30rem; */
  /* display: inline-block; */
  flex-grow: 1;
}
/* style close button */
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}

/* style header */
.header {
  background-color: #7408e7;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

/* clear float after the header */
.header:after {
  content: ""; /*digunakan agar pseudo bekerja, dimana ketika content kosong maka pseudo tidak akan menampilkan apapun*/
  display: table;
  clear: both;
}

/* style input */
input {
  margin: 0;
  border: none;
  border-radius: 0;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

/* styling add button */
.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

.addBtn:hover {
  background-color: #bbb;
}
